.shopSection {
  background: url(/images/shop-chuck-bg--left.png) no-repeat 5% 20px, url(/images/shop-chuck-bg--right.png) no-repeat 95% 20px, url(/images/sun-01.png) no-repeat center bottom, url(/images/bg-red-01.png) repeat;
  background-size: 30% auto, 30% auto, 326px 102px ,148px 150px;
  padding: 40px 0;
}