.imageContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 74px;
  background-color: #000;
  /* width: 200px; */
  /* height: 300px; */
}

.image {
  cursor: pointer;
}

.image:hover {
  opacity: .25;
}

.infoBtn {
  display: flex;
  background-color: #ffc400;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.infoBtn h5 {
  margin: auto;
  text-align: center;
}