.joke {
  color: #fff;
  margin: 0px;
}

.jokeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-image: linear-gradient(to right,  rgba(150, 31, 15, 0), #961f0f 50%, rgba(150, 31, 15, 0));
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/* .fadein {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
} */